@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Hopper";
}

<div class="jumbotron col-lg-6">
    <div class="col-lg-3" id="logoSpace">
        <img src="~/Assets/Images/frog-king-icon.png" id="jumboLogo"/>
    </div>
    <div class="col-lg-3" id="logoHeader">
        <h1>Hopper, Inc</h1>
        <p class="lead">Ride sharing made difficult.</p>
    </div>
</div>

<br />
<div class="row" id="register">
    <div class="col-lg-3" align="left">
        <div class="registration" id="passenger">
            <h2>
                @Html.ActionLink("Start riding!", "Register", "Account", routeValues: new { isDriver = false }, htmlAttributes: new { id = "registerLink" })
            </h2>
        </div>
    </div>
    <div class="col-lg-3" align="left">
        <div class="registration" id="driver">
            <h2>
                @Html.ActionLink("Start driving!", "Register", "Account", routeValues: new { isDriver = true }, htmlAttributes: new { id = "registerLink" })
            </h2>
        </div>
    </div>
</div>